name: Setup boilerplate

on:
  workflow_call:
    inputs:
      boilerplate:
        type: string
        description: Name of a supported boilerplate
        required: true
      branch-name:
        type: string
        description: Branch to use for boilerplate setup
        default: development
        required: true
env:
  BRANCH_NAME: update-dependencies
  
jobs:
  setup-boilerplate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Create or checkout branch
        run: |
          branch_name=${{ github.event.inputs.branch-name }}
          git fetch --all
          # checkout to branch if exists else create new
          git checkout $branch_name || git checkout -b $branch_name
      - name: Setup boilerplate
        run: |
          branch_name=${{ github.event.inputs.branch-name }}
          boilerplate=${{ github.event.inputs.boilerplate }}
          # clone the boilerplate repository
          git clone -b $BRANCH_NAME https://github.com/DevSkillsHQ/$boilerplate.git
          
          # replace scripts in package.json with scripts from boilerplate and save full result to package.tmp.json
          jq '.scripts = input.scripts' package.json $boilerplate/package.json > package.tmp.json
          
          # replace package.json with package.tmp.json
          mv package.tmp.json package.json
          
          # copy all app related files
          cp -r $boilerplate/app* .
          
          # fetch baseUrl and apiUrl from cypress.json or cypress.config.js
          if [ -f "$boilerplate/cypress.json" ]; then
            baseUrl=$(jq -r '.baseUrl' $boilerplate/cypress.json)
            apiUrl=$(jq -r '.env.apiUrl' $boilerplate/cypress.json)
          elif [ -f "$boilerplate/cypress.config.js" ]; then
            # install cypress
            npm i
            baseUrl=$(node -p "require('./$boilerplate/cypress.config.js').e2e.baseUrl ?? ''")
            apiUrl=$(node -p "require('./$boilerplate/cypress.config.js').env.apiUrl ?? ''")
          else
            echo "Neither cypress.json nor cypress.config.js was found in the $boilerplate directory"
            exit 1
          fi

          # set baseUrl and apiUrl in cypress.json or cypress.config.js of the current directory
          if [ -f "cypress.json" ]; then
            jq ".baseUrl |= \"$baseUrl\"" cypress.json > cypress.temp.json && mv cypress.temp.json cypress.json
            jq ".env.apiUrl |= \"$apiUrl\"" cypress.json > cypress.temp.json && mv cypress.temp.json cypress.json
          elif [ -f "cypress.config.js" ]; then
            sed -i -e "s|\(baseUrl: \).*,|\1'$baseUrl',|g" cypress.config.js
            sed -i -e "s|\(apiUrl: \).*,|\1'$apiUrl',|g" cypress.config.js
          else
            echo "Neither cypress.json nor cypress.config.js was found in the current directory"
            exit 1
          fi
          
          # add cypress files to staging
          git add cypress.*
          
          # remove boilerplate folder, install npm dependencies, add package.json and app* files to staging
          rm -rf $boilerplate
          npm i
          git add package.json app*
          
          # set git config and commit changes
          git config --global user.email "setup-boilerplate@example.com"
          git config --global user.name "Setup boilerplate"
          git commit -m "Initialize boilerplate $boilerplate"
          git push origin $branch_name
      - name: Error summary
        if: failure()
        run: |
          echo '## Failed to import ${{ github.event.inputs.boilerplate }}' >> $GITHUB_STEP_SUMMARY
          echo 'Make sure ${{ github.event.inputs.boilerplate }} is a valid boilerplate name.' >> $GITHUB_STEP_SUMMARY
          echo 'Check https://help.alvalabs.io/en/articles/7972852-supported-coding-test-boilerplates' >> $GITHUB_STEP_SUMMARY
      - name: Success summary
        if: success()
        run: |
          echo '## Successfully imported ${{ github.event.inputs.boilerplate }}' >> $GITHUB_STEP_SUMMARY
          echo 'Run `git checkout ${{ github.event.inputs.branch-name }}` to start working on the challenge.' >> $GITHUB_STEP_SUMMARY
